

@brand: #C789E1;      // brand color
@navy: #1ab394;       // Primary color
@dark-gray: #c2c2c2;  // Default color

@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color
// #9C1200

@blue-light: #D6EAF2;


@gray-light: #E9EAEE; // Gray Light color


@color-body: #E9EEEF;
@color-text: #676a6c;   // Body text
