
<template name="main">

  <div class="main-header">
    <div class="title"> programer.io </div>
    <a class="menu-dashboard" href="/dash"> Dashboard </a>
  </div>

  <div class="main-container">
    <div class="main-left-side">
    </div>

    <div class="main-top">
      <div class="main-banner">
      </div>
      <div class="map-container">
        {{> googleMap name="mainMap" options=mapOptions}}
      </div>
    </div>
    <div class="main-body">
      <div class="posts-container">
        {{#each channels}}
          {{>postCard}}
        {{/each}}
      </div>
    </div>

    <div class="main-right-side">
    </div>
  </div>
</template>
