
<template name="main">
  <div class="main-header">
    <div class="title"> programer.io </div>

    {{#if currentUser}}
      <a id="logout" class="menu-dashboard" href="">Logout </a>
    {{/if}}

  </div>

  <div class="main-container">
    <div class="main-left-side">
    </div>
    <div class="main-body">
      {{#if isMobileSize}}
        <div class="map-pannel">
          <div class="map-container">
            {{> googleMap name="mainMap" options=mapOptions}}
          </div>
          <div class="map-info-panel">
            <span>{{address}}</span>
          </div>
        </div>
      {{/if}}
      <div id="postCreateForm" class="post-create-form">
        <div class="post-create-form-header">
        </div>
        <div class="post-create-form-body">
          <textarea id="post-create-textarea" placeholder="What's up?"></textarea>
        </div>
        <div class="post-create-form-bottom">
          <button id="postCreateBtn" disabled="disabled">Submit (Shift+Enter)</button>

        </div>
      </div>

      <div class="posts-container">
        {{#each channels}}
          {{>postCard}}
        {{/each}}
      </div>
    </div>

    {{#unless isMobileSize}}
      <div class="main-right-side">
        <div class="map-container">
          {{> googleMap name="mainMap" options=mapOptions}}
        </div>
        <div class="map-info-panel">
          <span>{{address}}</span>
        </div>
      </div>
    {{/unless}}
  </div>
</template>
